##### Creating another column, namely, minutes, in the dataset and storing the resultant numbers in minutes column.

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('firebase-1618885447171.csv')
df['minutes'] = df['time'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]) + int(x[2])/60)
df.head()

   day  temp  humidity      time      minutes
0    1    22        45  19:00:19  1140.316667
1    1    22        45  19:02:19  1142.316667
2    1    21        46  19:04:19  1144.316667
3    1    21        46  19:06:20  1146.333333
4    1    22        47  19:08:20  1148.333333

In [2]:
df.to_csv('new_file.csv')